<h1> Add A New photo </h1>

<form action="http://localhost:3000/photos/create_photo">
  <div>
    <label for="photo_caption">Caption:</label>
    <input id="photo_caption" input type="text" name="the_caption">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" input type="text" name="the_source">
  </div>
  <div>
    <Button>Create Photo</Button>
  </div>
</form>
